.buckle-btn {
  display: inline-block;
  padding: 8px 16px;
  border: 1px solid transparent;
  border-radius: $border-radius;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.2s, border-color 0.2s;

  &.primary {
    background: $primary-color;
    color: $white;
    border-color: $primary-color;

    &:hover {
      background: darken($primary-color, 10%);
      border-color: darken($primary-color, 10%);
    }
  }
  
  &.info {
    background: $info-color;
    color: $white;
    border-color: $info-color;

    &:hover {
      background: darken($info-color, 10%);
      border-color: darken($info-color, 10%);
    }
  }

  &.success {
    background: $success-color;
    color: $white;
    border-color: $success-color;

    &:hover {
      background: darken($success-color, 10%);
      border-color: darken($success-color, 10%);
    }
  }

  &.danger {
    background: $danger-color;
    color: $white;
    border-color: $danger-color;

    &:hover {
      background: darken($danger-color, 10%);
      border-color: darken($danger-color, 10%);
    }
  }

  &.warning {
    background: $warning-color;
    color: lighten($black,10%);
    border-color: $warning-color;

    &:hover {
      background: darken($warning-color, 10%);
      border-color: darken($warning-color, 10%);
	  color:$white;
    }
  }


  &.outline {
    background: transparent;
    color: $primary-color;
    border-color: $primary-color;

    &:hover {
      background: $primary-color;
      color: $white;
    }
  }
}

.buckle-btn-sm {
  padding: 4px 8px;
  font-size: 14px;
}

.buckle-scroll-top {
  @extend .buckle-btn !optional;
  @extend .buckle-btn-sm !optional;
  background: $primary-color;
  color: $white;
  border: 1px solid $primary-color;
  border-radius: $border-radius;
  padding: 8px 12px;
  position: fixed;
  bottom: 20px;
  right: 20px;
  cursor: pointer;
  display: none;
  transition: background-color 0.3s, border-color 0.3s;
  z-index: 1000;

  &:hover {
    background: darken($primary-color, 10%);
    border-color: darken($primary-color, 10%);
  }

  &:focus {
    outline: 2px solid $primary-color;
    outline-offset: 2px;
  }
}