@use 'sass:math';

.buckle-flex {
  display: flex;
}

.buckle-justify-start {
  justify-content: flex-start;
}

.buckle-justify-center {
  justify-content: center;
}

.buckle-align-center {
  align-items: center;
}

.buckle-gap-2 {
  gap: 16px;
}

.buckle-text-left {
  text-align: left;
}

.buckle-text-center {
  text-align: center;
}

.buckle-text-right {
  text-align: right;
}

.buckle-float-left {
  float: left;
}

.buckle-clearfix {
  clear: both;
}

.buckle-rounded-bottom-none {
  border-bottom-left-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
}